@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.card{
  transition: all 300ms linear;
  overflow: hidden;
  border: 5px solid white;
}
.card:hover .img{
  transform: scale(1.1);
}
button{
  position: relative;
  z-index: 1;
  transition: all 300ms linear;
  position: relative;
}
button::before {
  transition: all 0.3s linear;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 30px;
  border: 5px solid transparent;
  background: linear-gradient(
      151.6deg,
      rgba(212, 20, 90, 1) 1.85%,
      rgba(251, 176, 59, 1) 98.12%
    )
    border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  opacity: 1;
}